*.rej
*.pyc
*.py~
*.html~
*.*~
*.log
*.log.*
*.env
pikachu/local_settings.py
media/*
assets/*
*~
[#]*[#]
.\#*
.dirlocals.el
venv/*
!emv/.env.dev
.env.prod
.env.prod.db
.elasticbeanstalk/
.vscode/settings.json
.pytest_cache/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

celerybeat-schedule

.terraform
terraform/.terraform.lock.hcl
.DS_Store

